body {
    background-color: #000;
}

#snappedMode {
    position: fixed;
    width: 100%;
    visibility: hidden
}

#filledMode {
    position: fixed;
    width: 100%;
    visibility: hidden
}

#gameArea {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

#rotateDevice {
    position: fixed;
    width: 100%;
    visibility: hidden
}

#imgFilled {
    width: 100%;
}

#imgSnapped {
    width: 100%;
}

#imgPortrait {
    width: 100%;
}

#aText {
    background-color: #ccc;
    margin-bottom: 1.5rem;
}
#aText:focus {
    background-color: #ddd;
}

.alertify-inner * {
    color: #111;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

@-ms-viewport {
  width: 1280px;
  height: 800px;
}